.chef{
    display: flex;
    justify-content: space-between;
    margin:143px 80px 160px 80px
}

.chefText{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding-top:160px;
    width: 580px;
    height: 360px;
}

.chefText h2{
    font-size: 45px;
}

.chefText p{
    padding-bottom : 50px;
    color: #00000099;

}

.chefText Button{
    width: 180px;
}

.chefImg img{
    width: 670px;
    height: 570px;
}
